#core {
    width: 80%;
    margin: 50px;
    background-color: white;
    padding: 50px;
    border-radius: 4px;
}

#user {
    width: 30%;
}

body{
    background-color:#456684;
}

.push-event{
    border: solid;
    border-width: 2px;
    border-color: #0275d8;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 5px 5px 5px 0px;
    padding: 0px 10px 10px 10px;

}

.commit-list{

}

.sha{
    background-color: azure;
    color: #ff3c46;
    margin: 5px 5px 5px 5px;
}

pre {
    width: 80%;
}